.root {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
