.list__item {
	/* min-width: 150px; */
	border: 1px solid #70c2c2;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}
.player__icon {
	color: #70c2c2;
	line-height: 16px;
	font-size: 1.3rem;
	width: 25px;
	height: 25px;
	text-align: center;
}

.player__icon:hover {
	cursor: pointer;
	color: red;
}
