.container {
  margin: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
}
.wrapper {
  display: flex;
  justify-content: center;
}

.main {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .container {
    width: 220px;
    height: 500px;
    display: flex;
    align-items: flex-start;

    justify-content: space-between;
  }
  .main {
    height: 100%;
  }
}

@media screen and (max-width: 600px) and (min-width: 400px) {
  .container {
    width: 300px;
    height: 500px;
  }
  .main {
    height: 100%;
  }
}
