.teamBoard {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
  height: 85%;
}

@media screen and (max-width: 400px) {
  .teamBoard {
    height: 75%;
  }
}
