.app {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
}
.names {
	width: 100%;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form {
	width: 100%;
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
